$primary-dark-green: #697e59;
$primary-dark-blue: #76929b;
$primary-dark-Light-green: #93a97b;
$primary-dark-lightest-green: #c7d8c6;
$primary-dark-grey-blue: #a9b7c0;
$secondary-color-peach: #efd9c1;
$secondary-color-orange: #e69740;
$white: #ffffff;
